
@include desktop {
    .max-width {
        padding: 0 50px;
    }
    .home {

        .home-content {
            margin: 0;
        }
    }
}

@include tab {

    // .menu-btn {
    //     display: block;
    //     z-index: 999;

    // }
    
    // .navbar {

    //     .menu {
    //         position: fixed;
    //         height: 100vh;
    //         width: 100%;
    //         left: -100%;
    //         top: 0;
    //         background: #111;
    //         text-align: center;
    //         padding-top: 80px;
    //         transition: all 0.3s ease;

    //         &.active {
    //             left: 0;
    //         }

    //         li {
    //             display: block;

    //             a {
    //                 display: inline-block;
    //                 margin: 20px 0;
    //                 font-size: 25px;              
    //             }
    //         }
    //     }
    // }

    .about {

        .about-content {
            padding: 5px;

            .left-and-right {
                @include flexCenter(column-reverse);
                width: 100%;
                background: $white-pallete;
                padding: 1em;
                
                .left {
                    text-align: center;
                    width: 100%;
                    padding-right: 0;
                    background: $black-pallete;
                    padding: 1em;
                    min-height: 300px;
                    border-radius: 30px;
                    margin-top: -25px;
                    z-index: 9999;

                    p {
                        @include paragraphContent(center);
                    }
                }
                .right {
                    width: 80%;
                    background: $white-pure;
                    border-radius: 30px;

                    .pictures {
                        border-radius: 30px;
                        margin-right: 0;
                        padding: 1em;
                        background: $white-pure;

                        img {
                            border-radius: 30px;
                            border: 0 solid;
                            height: 50vh;
                            padding: 0.7rem;
                            width: 100%;
                        }
                    }   
                }        
            }      
        }
    }
      // skills responsive

    .skills {

        .skill-content {
            padding: 5px;

            .left-and-right {
                @include flexSpaceBetween(column-reverse);
                width: 100%;
                background: $white-pallete;
                padding: 1em;

                .left {
                    text-align: center;
                    width: 100%;
                    padding-right: 0;
                    background: $black-pallete;
                    padding: 1em;
                    min-height: 300px;
                    border-radius: 30px;
                    margin-top: -25px;
                    z-index: 9999;

                    p {
                        @include paragraphContent(center);
                    }
                }
                .right {
                    width: 80%;
                    background: $white-pallete;
                    margin-right: 0;
                    @include flexCenter(row);
                    flex-wrap: wrap;
                    border-radius: 30px;

                    .features-box {
                        @include flexSpaceBetween(column);
                        width: 20%;
                        padding: 0.4em;
                        margin: 0.2em 1.4em;

                        img {
                            margin: 1em;
                            width: clamp(2.5rem, 18vw, 5rem);
                        }

                        .content-features {

                            .text, .line {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // contact responsive

    .contact {

        .title-contact {
            @include flexCenter(column-reverse);
            padding: 1em;

            .left, .right {
                border-radius: 30px;
            }
            .left {
                width: 100%;
                margin-top: -15px;
                z-index: 9999;

            }
            .right {
                width: 80%;

                .menu-list {
                    border-radius: 30px;
                }
            }
        }
    }
}

@include mobile {
    .max-width {
        padding: 0 10px;
    }

    // skil responsive

    .skills {

        .skill-content {

            .left-and-right {

                .right {
                    @include flexSpaceBetween(row);
                }
            }
        }
    }
}