
@function fontSize($fontName) {
    @return map-get($fontSize , $fontName )
};

@mixin flexSpaceBetween($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin paragraphContent($align) {
    font-size: clamp(0.8rem, 1.4vw, 1rem);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: $align;   
};


// media query responsive

@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}
@mixin smalScreen {
    @media screen and (max-width: $smalScreen) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: $tab) {
        @content;
    }
}
@mixin  mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}
