@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1920px;
    padding: 0 100px;
    margin: auto 0px;
    width: 100%;
}
section {
    padding: 100px 0;
}

/* Navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    margin: 0;  
}
.navbar.sticky {
    padding: 10px 0;
    background: #130B0B;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    transition: color 0.3s ease; 
}
.navbar .menu li a:hover {
    color: #fa1e0e;
}
.navbar.sticky .menu li a:hover {
    color: #fff;
} 
/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section */

.home {
    display: flex;
    background: #130B0B;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(19, 11, 11, 0.55);
}
.home .home-content {
    margin: 0 100px;
}
.home .home-content .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.home .home-content .text-1 {
    position: relative;
    font-size: clamp(10px, 5vw, 40px);
}
.home .home-content .text-2 {
    position: relative;
    font-size: clamp(40px, 5vw, 120px);
    font-weight: 600;
}
.home .home-content .text-3 {
    position: relative;
    font-size: clamp(10px, 5vw, 50px);
    margin: 10px 0;
}
.home .home-content .text-3 span {
    position: relative;
    color: #a20a0a;
    font-weight: 600;
}
.home .home-content a {
    position: relative;
    display: inline-block;
    background: #a20a0a;
    color: #fff;
    font-size: clamp(20px, 5vw, 30px);
    padding: 12px 26px;
    margin-top: 20px;
    border-radius: 16px;
    border: 2px solid #a20a0a;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: #a20a0a;
    background: none;
}

/* about section styling */

.about {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f6f7;
}
.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #130B0B;
}
.about .title span {
    color: #a20a0a;
}
.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
} 
.about .about-content {
    padding: 20px 200px;
    border: 1px solid;
}
.about .about-content .left-and-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #130B0B;;
    padding: 30px;
    min-height: 50vh;
}
.about .about-content .left {
    width: 60%;
}
.about .about-content .left .text {
    position: relative;
    font-size: clamp(1em, 3vw, 4em);
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.about .about-content .left .text-2 {
    position: relative;
    color: #a20a0a;
    font-size: clamp(0.3em, 4vw, 1.4em);
    font-weight: 600;
    margin-bottom: 15px;
}
.about .about-content .left p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    color: #fff;;
}
.about .about-content .left a {
    position: relative;
    display: inline-block;
    background: #a20a0a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 20px;
    margin-top: 30px;
    border-radius: 16px;
    border: 2px solid #a20a0a;
    transition: all 0.3s ease;
}
.about .about-content .left a:hover {
    color: #a20a0a;
    background: none;
}
.about .about-content .right {
    width: 40%;
    padding: 5px;
    background: #f9f6f7;
}
.about .about-content .pictures {
    padding: 20px 25px;
    margin-right: -100px;
    z-index: 99;
}
.about .about-content .right img {
    object-fit: initial;
    background: #fff;
    border: 3px solid #a20a0a;
    height: 60vh;
    width: 100%;
    filter: grayscale(100%);
    z-index: 199;
}


/* skills styling */

.skills {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f6f7;
    color: #000;
}
.skills .skill-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 40px;
    border: 3px solid;
    background: #fff;
}
.skills .skill-content .left {
    width: 60%;
    border: 1px solid;
    padding: 60px;
    margin-left: -100px ;
    background: #130B0B;
    min-height: 67vh;
}
.skills .skill-content .left h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}
.skills .skill-content .left p {
    font-size: 25px;
    text-align: left;
    color: #fff;
}
.skills .skill-content .left span {
    color: #a20a0a;
}
.skills .skill-content .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 99;
    min-height: 67vh;
}
.skills .features-box{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.skills .features-box img {
    width: 70px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.skills .features-box .rights .text {
    margin: 5px;
}
.skills .features-box .line {
    border: 0px solid;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    background: lightgray;
    position: relative;
}
.skills .features-box .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #a20a0a;
}
.skills .features-box .office::before {
    width: 80%;
}
.skills .features-box .wordpress::before {
    width: 60%;
}
.skills .features-box .teamwork::before {
    width: 80%;
}
.skills .features-box .speaking::before {
    width: 60%;
}
.skills .features-box .ilustrator::before {
    width: 60%;
}
.skills .features-box .css::before {
    width: 50%;
}
.skills .features-box .js::before {
    width: 40%;
}
.skills .features-box .react::before {
    width: 40%;
}
.skills .content-features {
    width: 100%;
}

/* contact styling */

.contact {
    font-family: 'Poppins', sans-serif;
    background: #f9f6f7;
}
.contact .title-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact .title-contact .left {
    z-index: 100;
    width: 60%;
}
.contact .title-contact span {
    color: #a20a0a;
}
.contact .title-contact h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.contact .title-contact p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.contact .title-contact .right {
    width: 60%;
}
.contact .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 0px solid;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 10px;
}
.contact .menu-list li {
    position: relative;
    list-style: none;
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 50%;
}
.contact .menu-list li a {
    text-decoration: none;
}
.contact .menu-list li a .fab {
    font-size: 3em;
    color: #000;
}
.contact .menu-list li a .fas {
    font-size: 3em;
    color: #000;
}

/* footer styling */

.footer {
    font-family: 'Poppins', sans-serif;
    margin: auto 0px;
    background: #130B0B;
    color: #fff;
    padding: 20px;   
}
.footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* responsive media query */

   

@media (max-width: 940px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    /* about style responsive */

    .about .about-content {
        flex-direction: column-reverse;
        margin: 0 50px;
        padding: 20px 5px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        text-align: center;
        width: 115%;
        margin-left: 0px;
        margin-bottom: 10px;
        min-height: 0vh;
        padding: 30px;
    }
    .about .about-content .left p {
        text-align: center;
    }
    .about .about-content .right {
        justify-content: center;
        display: flex;
        padding: 10px;
        min-height: 0vh;
    }
    .about .about-content .right img {
        width: 250px;
        height: 250px;
        object-fit: inherit;
        
    }

     /* skill style responsive */

     .skills .skill-content {
        flex-direction: column;
    }
    .skills .skill-content .column {
        width: 100%;
    }
    .skills .skill-content .left {
        width: 150%;
        text-align: center;
        margin-left: 0px;
        min-height: 0vh;
        padding: 40px 60px;   
    }
    .skills .skill-content .left p {
        text-align: center;
        margin-bottom: 30px;
    }
    .skills .skill-content .right {
        width: 100%;
        min-height: 0vh;
    }
    /* .contact responsive style */

    .contact .title-contact {
        flex-direction: column;
    }
    .contact .title-contact .left {
        width: 100%;
        text-align: center;
    }
    .contact .title-contact .left p {
        text-align: center;
        margin-bottom: 30px;
    }
    .contact .title-contact .right {
        width: 100%;
    }
}
@media (max-width: 680px) {
    .max-width {
        padding: 0 20px;
    }
    .skills .skill-content .right {
        padding: 10px;
        min-height: 0vh;
    }
    .skills .features-box{
        padding: 10px;
        margin: 0px;
    }
    .skills .features-box img {
        width: 50px;
    }

    /* skills responsive style */

}
@media (max-width: 558px) {
    .about .about-content {
        margin: 10px 25px;
        padding: 20px 5px;
    }
   
    .about .about-content .left {
        width: 115%;
        margin-left: 0px; 
        min-height: 0vh;
        padding: 20px
    }
    .about .about-content .left .text {
        font-size: 20px;
    }
    .about .about-content .left .text-2 {
        font-size: 12px;
    }
    .about .about-content .left p {
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .about .about-content .right img {
        display: none;
    }
}
@media (max-width: 390px) {

    /* about responsive style */

    .skills .skill-content {
        width: 97%;
    }
    .skills .skill-content .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skills .features-box{
        width: 50%;
    }
    .skills .content-features {
        display: none;
    }

    /* contact responsive style  */

    .contact .menu-list li a .fab {
        font-size: 2em;
    }
    .contact .menu-list li a .fas {
        font-size: 2em;
    }
}